@charset "utf-8"

@import "../bulma-0.9.3/sass/utilities/initial-variables.sass"
$navbar-height: 4rem
@import "../bulma-0.9.3/bulma.sass"

#tsparticles
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1 // In front of invisible <coulums> to allow interacivity

.hero-body
    position: relative // On mobile: Fix particles issue (gets cropped)
    .gradient
        position: relative // On mobile: keep z-index
        z-index: 2 // In front of particles
        border-radius: .4em
        background-image: linear-gradient(to right, transparentize(black, .7), hsla(0, 0%, 0%, 0))

// Fix position of anchors with navbar
.content
    h1
        &::before
            display: block
            content: " "
            margin-top: -110px
            height: 110px
            visibility: hidden
            pointer-events: none
