@charset "utf-8"

$fa-font-path: "./modules/webfonts"
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"

$navbar-height: 4rem
@import "../node_modules/bulma/sass/utilities/_all.sass"
@import "../node_modules/bulma/sass/base/generic"
@import "../node_modules/bulma/sass/base/minireset"
@import "../node_modules/bulma/sass/components/navbar"
@import "../node_modules/bulma/sass/elements/box"
@import "../node_modules/bulma/sass/elements/container"
@import "../node_modules/bulma/sass/elements/content"
@import "../node_modules/bulma/sass/elements/icon"
@import "../node_modules/bulma/sass/elements/notification"
@import "../node_modules/bulma/sass/elements/title"
@import "../node_modules/bulma/sass/grid/_all"
@import "../node_modules/bulma/sass/helpers/_all"
@import "../node_modules/bulma/sass/layout/_all"

#tsparticles
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1 // In front of invisible <coulums> to allow interacivity

.hero-body
    position: relative // On mobile: Fix particles issue (gets cropped)
    .gradient
        position: relative // On mobile: keep z-index
        z-index: 2 // In front of particles
        border-radius: .4em
        background-image: linear-gradient(to right, transparentize(black, .7), hsla(0, 0%, 0%, 0))

// Fix position of anchors with navbar
.content
    h1
        &::before
            display: block
            content: " "
            margin-top: -110px
            height: 110px
            visibility: hidden
            pointer-events: none
