/* html *
{
   font-family: 'Roboto', sans-serif, !important;
} */

.hero-body .gradient{
  border-radius: .4em;
  background-image: linear-gradient(to right, hsl(229, 53%, 35%), hsl(229, 53%, 53%));
}

/* Offset for #-anchors: https://css-tricks.com/hash-tag-links-padding/ */
.content h1::before {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
  pointer-events: none;
}
