
{# {% extends "index.html" %}
{%- block title %}
{{ config.title ~ " | Not found "}}
{%- endblock %}

{%- block body %}
{{- macro_navbar::navbar(extra_items=[config.extra.home_element]) }}
{%- block navbar %}
{%- endblock navbar %}

<!-- <div class="container">
    <p class="title">404: Page not found</p>
    <p class="subtitle">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href={{ config.base_url }}>Head back home</a> to try finding it again.</p>
</div> -->

{%- endblock body %}
#}
