{% import "macros/navbar.html" as macro_navbar %}
{% import "macros/head.html" as macro_head %}

{%- if lang==config.default_language -%}
<!DOCTYPE html>
<html>

<head>
    {{macro_head::head(title=config.title)}}
</head>

<body>
    <div class="container box">
        Redirecting to your preferred language.<br>
        Choose manually in case it doesn't work:
        {%- if section %}
        {%- set path = "@/" ~ section.relative_path %}
        {%- else %}
        {%- set path = "@/" ~ page.relative_path %}
        {%- endif %}
        <ul>
            {%- for lang_sel, _ in config.languages %}
            {%- if lang_sel != config.default_language %}
            <li>
                <a href="{{get_url(path=path, lang=lang_sel)}}">
                    {{trans(key="name", lang=lang_sel)}}
                </a>
            </li>
            {%- endif %}
            {%- endfor %}
        </ul>
    </div>
    <script>
        if (navigator.language || navigator.userLanguage == "de") {
            window.location.replace("{{get_url(path=path, lang=`de`)}}");
        }
        else {
            window.location.replace("{{get_url(path=path, lang=`en`)}}");
        }
    </script>
</body>

{%- else %}
<!DOCTYPE html>
<html lang={{lang}}>

{%- block head -%}
{{macro_head::head(title= config.title ~ " | " ~ section.title )}}
{%- endblock head -%}

{%- block body -%}

<body>
    {%- block navbar %}
    {{- macro_navbar::navbar(extra_items=section.toc) }}
    {%- endblock navbar %}

    {%- block content %}
    <section class="hero is-link is-fullheight is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-gapless">
                    <div class="columns is-5 is-vcentered gradient">
                        <div class="column">
                            {{- section.extra.hero_greeting -}}
                            <p class="title">Douglas Weber</p>
                            <p class="subtitle">
                                {{-section.extra.hero_subtitle-}}
                            </p>
                            <p style="max-width:22em">
                                {{-section.extra.hero_text-}}
                            </p>
                        </div>
                        <div class="column is-narrow">
                            <figure class="image is-128x128 is-inline-block">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="content container py-6 px-3">
        {{ section.content | safe }}
    </div>

    <footer class="footer has-text-centered">
        <div>
            © {{now() | date(format="%Y")}} Weber Douglas Development
            <span class="mx-2">|</span>
            <a href="{{get_url(path='@/imprint.md', lang=lang)}}">
                {{- trans(key="imprint", lang=lang) -}}
            </a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
    <script>
        new Typewriter('#typewriter', {
            strings: ['the next job', 'awesome work', 'going beyond'],
            autoStart: true,
            loop: true,
        });
    </script>
    {%- endblock content %}

    <script src="{{ get_url(path='site.js') }}"></script>
</body>
{%- endblock body %}

</html>
{%- endif %}
