{% extends "section.html" %}


{%- block body -%}

<body>
    {%- block navbar %}
    {{- macro_navbar::navbar(extra_items=section.toc) }}
    {%- endblock navbar %}

    {%- block content %}
    <section class="hero is-link is-fullheight is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                    <div class="columns is-gapless">
                        <div class="columns is-5 is-vcentered gradient">
                            <div class="column">
                                {{- section.extra.hero_greeting -}}
                                <p class="title">Douglas Weber</p>
                                <p class="subtitle">
                                    {{-section.extra.hero_subtitle-}}
                                </p>
                                <p style="max-width:22em">
                                    {{-section.extra.hero_text-}}
                                </p>
                            </div>
                            <div class="column is-narrow">
                                <figure class="image is-128x128 is-inline-block">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section content">
            {{ section.content | safe }}
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
    <script>
        new Typewriter('#typewriter', {
            strings: ['the next job', 'awesome work', 'going beyond'],
            autoStart: true,
            loop: true,
        });
    </script>
    {%- endblock content %}

    {{ macro_body_end::body_end() }}
</body>
{%- endblock body %}
