{% macro navbar(extra_items) %}
<nav class="navbar is-link is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ get_url(path=`/`, lang=lang) }}">
                <img src="{{ get_url(path=`wedodev_logo.svg`) }}">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                {%- for item in extra_items %}
                <a class="navbar-item" href="
                {%- if item.path -%}
                    {{ get_url(path=item.path, lang=lang) }}
                {%- else -%}
                    {{item.permalink | safe}}
                {%- endif -%}
                ">
                    <span>{{ item.title }}</span>
                </a>
                {%- endfor %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link icon-text">
                        <span class="icon is-medium">
                            <i class="fas fa-language fa-lg"></i>
                        </span>
                    </a>

                    <div class="navbar-dropdown">
                        {%- if section %}
                        {%- set translations = section.translations %}
                        {%- else %}
                        {%- set translations = page.translations %}
                        {%- endif %}
                        {%- for translation in translations %}
                        {%- if translation.lang != config.default_language %}
                        <a class="navbar-item {%- if translation.lang == lang %} has-text-weight-bold {%- endif %}"
                            href="{{ translation.permalink | safe }}">
                            {{- trans(key="name", lang=translation.lang) -}}
                        </a>
                        {%- endif %}
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endmacro navbar %}
